body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.center {
  text-align: center;
  padding: 50px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.typewriter::after {
  content: "|";
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
